{% extends "base.html" %}
{% block meta %}
{% end %}

{% block title %}恶意充电宝－隐私数据{% end %}

{% block pagecss %}{% end %}
{% block pagejs_before %}

{% end %}

{% block body %}
<div id="main">
    <div class="inner-title">
        <span class="font-green select-phone">{{ param["cur"] }}</span> <span> &gt; </span><span class="active-nav">隐私数据</span>
    </div>
    <div class="inner-cont">
       <table class="tbl" id="dataTbl">
	     <tbody>

	     </tbody>
	   </table>
    </div>
</div>
<script type="text/html" id="dataTmpl">
    <tr class="main-tr">
        <td title="appmnt">appmnt (共{=opts.records.appmnt.length}个文件)</td>
        {if(opts.records.appmnt.length>0)}
        <td class="td-op"><i class="op-fold font-green" style="font-style:normal; padding-right:80px">展开</i></td>
        </tr>
        <tr class="link hide">
	        <td colspan="2">
	            <div class="inner-table-cont">
			        <table class="tbl">
				        {for(var i=0; i<opts.records.appmnt.length; i++)}
				        <tr class="main-tr tr-file" data-md5="{=opts.records.appmnt[i].md5}">
				            <td title="{=opts.records.appmnt[i].filename}">{=opts.records.appmnt[i].filename}</td>
				        </tr>
				        {/for}
			        </table>
			    </div>
	    	</td>
	    </tr>
        {else}
            <td></td></tr>
        {/if}
    <tr class="main-tr">
        <td title="appmnt">Caches (共{=opts.records.Caches.length}个文件)</td>
        {if(opts.records.Caches.length>0)}
        <td class="td-op"><i class="op-fold font-green" style="font-style:normal; padding-right:80px">展开</i></td></tr>
        <tr class="link hide">
	        <td colspan="2">
		        <div class="inner-table-cont">
			        <table class="tbl">
				        {for(var i=0; i<opts.records.Caches.length; i++)}
				        <tr class="main-tr tr-file" data-md5="{=opts.records.Caches[i].md5}">
				            <td title="{=opts.records.Caches[i].filename}">{=opts.records.Caches[i].filename}</td>
				        </tr>
				        {/for}
			        </table>
			    </div>
	    	</td>
	    </tr>
        {else}
        <td></td></tr>
        {/if}
    
</script>
{% end %}

{% block pagejs %}
 <script src="/static/js/page/data.js" type="text/javascript"></script>
{% end %}